{%
  set class = [
    'rufi-list-item',
  ]
%}

{% if url %}
<a href="{{ url }}"{{ attributes.addClass(class) }}>
  <span class="rufi-list-item__graphic rufi-icon" aria-hidden="true">{{ icon }}</span>
  <span class="rufi-list-item__text">
    <span class="rufi-list-item__primary-text">{{ line_1 }}</span>
    <span class="rufi-list-item__secondary-text">{{ line_2 }}</span>
  </span>
  <span class="rufi-list-item__meta rufi-icon" aria-hidden="true">{{ meta }}</span>
</a>
{% else %}
<div{{ attributes.addClass(class) }}>
  <span class="rufi-list-item__graphic rufi-icon" aria-hidden="true">{{ icon }}</span>
  <span class="rufi-list-item__text">
      <span class="rufi-list-item__primary-text">{{ line_1 }}</span>
      <span class="rufi-list-item__secondary-text">{{ line_2 }}</span>
    </span>
  <span class="rufi-list-item__meta rufi-icon" aria-hidden="true">{{ meta }}</span>
</div>
{% endif %}
