{%
 set icon = attributes.getClass|clean_class
%}

{{ attach_library('rufi_base/chip') }}
<span{{ attributes.addClass('rufi-chip') }}>
  <span class="rufi-icon rufi-chip__icon rufi-chip__icon--leading">{{ icon }}</span>
  <span class="rufi-chip__text">{{ status }}</span>
</span>
