.patch {
  &__body {
    // Footer as line with space between.
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    fieldset.cr_field_view {
      padding-top: 0;
      flex: 1 1 100%;
      width: 100%;
    }
  }
}

.rufi-list-item {
  .chip--cr-status {
    @extend %chip-icon-only;
  }
}
