@import './var';
@import './mixins/chip';

:root {
  --rufi-chip-bg-color: #{$rufi-chip-bg-color};
  --rufi-chip-font-color: #{$rufi-chip-font-color};
  --rufi-chip-hover-bg-color: #{$rufi-chip-hover-bg-color};
  --rufi-chip-hover-font-color: #{$rufi-chip-hover-font-color};
}

.rufi-chip-set {
  @include rufi-chip-set;
}

.rufi-chip {
  @include rufi-chip;

  &__text {
    @include rufi-chip__text;
  }

  &__icon {
    @include rufi-chip__icon;
  }
}

