.mark-new {
  position: absolute;
  font-size: var(--mark-new-font-size, .55em);
  padding: 0 .4em;
  line-height: 1.666em;
  border-radius: 1em;
  background-color: #a2c;
  color: #FFF;
  margin: auto;
  width: max-content;
  text-transform: uppercase;
}

.card-header__icon,
.comment__icon,
.rufi-list-item__graphic {
  position: relative;
  .mark-new {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%);
  }
}
