<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RulesFinder Icons</title>
  <link rel="stylesheet" type="text/css" href="./rufi-icons.css">
</head>
<body>
<h1>RulesFinder Icons</h1>
<div>
{{#each codepoints}}
  <i class="rufi-icons arg-icon">{{@key}}</i>
{{/each}}
<div>
</body></html>




