<!-- Add you custom twig html here -->
<div class="rufi-versions">
  <article class="card rufi-versions--description">
    <div class="card__content-wrapper">
      <header class="card-header leading-icon">
        <div class="card-header__icon" aria-hidden="true"><i class="rufi-icon" aria-hidden="true">version</i></div>
        <div class="card-header__text">
          <h2 class="card-header__text__top">{{ 'Version overview'|t }}</h2>
          <span class="card-header__text__bot">{{ 'List off all completed versions.'|t }}</span>
        </div>
      </header>
      <div class="card__content-item">
        {{description}}
      </div>

      {% if latest %}
        <h3 class="rufi-list--title">{{ 'Latest version'|t }}</h3>
        <div class="rufi-list card__content-item">
          <div class="rufi-list--items">
            {{ latest }}
          </div>
        </div>
      {% endif %}

      {% if current %}
        <h3 class="rufi-list--title">{{ 'Current version'|t }}</h3>
        <div class="rufi-list card__content-item">
          <div class="rufi-list--items">
            {{ current }}
          </div>
        </div>
      {% endif %}

      {% if history %}
        <h3 class="rufi-list--title">{{ 'Version history'|t }}</h3>
        <div class="rufi-list card__content-item">
          <div class="rufi-list--items">
            {{ history }}
          </div>
        </div>
      {% endif %}

    </div>
  </article>
</div>
