
@mixin rufi-chip-set {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  .rufi-chip {
    margin: 4px;
  }
}

@mixin rufi-chip {
  border-radius: 16px;
  background-color: var(--rufi-chip-bg-color, #{$rufi-chip-bg-color});
  color: var(--rufi-chip-font-color, #{$rufi-chip-font-color});
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: inherit;
  height: 32px;
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  border-width: 0;
  outline: none;
  transition: background-color .4s;
  cursor: default;

  &:hover {
    background-color: var(--rufi-chip-hover-bg-color, #{$rufi-chip-hover-bg-color});
    color: var(--rufi-chip-hover-font-color, #{$rufi-chip-hover-font-color});
  }
}

@mixin rufi-chip__text {
  white-space: nowrap;
}

@mixin rufi-chip__icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;

  &.rufi-chip__icon--leading {
    margin-left: -4px;
    margin-right: 4px;
  }
}

@mixin rufi-chip-icon-only {
  .rufi-chip__icon {
    margin-left: -6px;
    margin-right: -6px;
  }
  .rufi-chip__text {
    display: none;
  }
}
