
{{ attach_library('rufi_base/grid') }}
<div{{ attributes.addClass('draggable-dashboard').setAttribute('data-id', dashboard.id) }}>
  {% set column_num = columns|length %}
  {% for column in columns %}
      <div class="draggable-dashboard-column grid" id="column-{{ loop.index }}" data-id="{{ loop.index }}">
          {% for block in column %}
              {{ block }}
          {% endfor %}
      </div>
  {% endfor %}
</div>
