:root {
  --rufi-chip-bg-color: #fff;
  --rufi-chip-font-color: #a2c;
  --rufi-chip-hover-bg-color: #fff2ff;
  --rufi-chip-hover-font-color: #a2c;
}

.rufi-chip-set {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.rufi-chip-set .rufi-chip {
  margin: 4px;
}

.rufi-chip {
  border-radius: 16px;
  background-color: var(--rufi-chip-bg-color, #fff);
  color: var(--rufi-chip-font-color, #a2c);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: inherit;
  height: 32px;
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  border-width: 0;
  outline: none;
  transition: background-color 0.4s;
  cursor: default;
}
.rufi-chip:hover {
  background-color: var(--rufi-chip-hover-bg-color, #fff2ff);
  color: var(--rufi-chip-hover-font-color, #a2c);
}
.rufi-chip__text {
  white-space: nowrap;
}
.rufi-chip__icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.rufi-chip__icon.rufi-chip__icon--leading {
  margin-left: -4px;
  margin-right: 4px;
}