.drop-menu {
  position: relative;
}
.drop-menu__toggle {
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  fill: currentColor;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 15ms linear 30ms, -webkit-transform 0.3s ease 0ms;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 15ms linear 30ms, transform 0.3s ease 0ms;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 15ms linear 30ms, transform 0.3s ease 0ms, -webkit-transform 0.3s ease 0ms;
  background-color: var(--rufi-fab-default-bg-color, #fff);
  color: var(--rufi-fab-default-color, #999);
}
.drop-menu__toggle:hover, .drop-menu__toggle:focus {
  box-shadow: none;
  background-color: var(--rufi-fab-default-bg-color, rgba(5, 80, 230, 0.0875));
}
.drop-menu__list {
  position: absolute;
  z-index: 20;
  margin: 0;
  padding: 0.35rem 0;
  list-style: none;
  border: var(--drop-menu-list-border-size, 1px) solid var(--drop-menu-list-border-color, rgba(212, 212, 218, 0.8));
  border-radius: var(--drop-menu-list-border-radius-size, 2px);
  background-color: var(--drop-menu-list-bg-color, #FFF);
  box-shadow: var(--drop-menu-list-box-shadow, 0 4px 10px rgba(0, 0, 0, 0.1));
}
.drop-menu__list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.drop-menu__list li a {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  overflow: hidden;
  height: 48px;
  color: inherit;
  text-decoration: none;
}
.drop-menu__list li a:hover {
  background-color: var(--drop-menu-item-bg-hover-color, rgba(0, 0, 0, 0.0625));
}
.drop-menu__list li a:focus, .drop-menu__list li a:active {
  background-color: var(--drop-menu-item-bg-active-color, rgba(0, 0, 0, 0.1875));
  box-shadow: none;
}

@-webkit-keyframes drop-menu-in {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes drop-menu-in {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes drop-menu-out {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes drop-menu-out {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.drop-menu .drop-menu__list {
  -webkit-animation: drop-menu-in 0.3s;
  animation: drop-menu-in 0.3s;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.drop-menu:focus-within .drop-menu__list, .drop-menu__toggle:focus + .drop-menu__list {
  -webkit-animation: drop-menu-out 0.3s;
  animation: drop-menu-out 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.drop-menu__top_left .drop-menu__list {
  bottom: calc(100% - .35rem);
  right: 0.35rem;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.drop-menu__top_right .drop-menu__list {
  bottom: calc(100% - .35rem);
  left: 0.35rem;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}
.drop-menu__bottom_left .drop-menu__list {
  top: calc(100% - .35rem);
  right: 0.35rem;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
.drop-menu__bottom_right .drop-menu__list {
  top: calc(100% - .35rem);
  left: 0.35rem;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}