.grid {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: -0.75rem;
}
.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6 {
  box-sizing: border-box;
  margin: 0.75rem;
  overflow: hidden;
  flex: 1 1 calc(100% - 1.5rem);
}
@media (min-width: 588px) {
  .grid-sm-1 {
    flex: 1 1 calc(16.66666% - 1.5rem);
  }
  .grid-sm-2 {
    flex: 1 1 calc(33.33332% - 1.5rem);
  }
  .grid-sm-3 {
    flex: 1 1 calc(49.99998% - 1.5rem);
  }
  .grid-sm-4 {
    flex: 1 1 calc(66.66664% - 1.5rem);
  }
  .grid-sm-5 {
    flex: 1 1 calc(83.3333% - 1.5rem);
  }
  .grid-sm-6 {
    flex: 1 1 calc(99.99996% - 1.5rem);
  }
}
@media (min-width: 976px) {
  .grid-md-1 {
    flex: 1 1 calc(16.66666% - 1.5rem);
  }
  .grid-md-2 {
    flex: 1 1 calc(33.33332% - 1.5rem);
  }
  .grid-md-3 {
    flex: 1 1 calc(49.99998% - 1.5rem);
  }
  .grid-md-4 {
    flex: 1 1 calc(66.66664% - 1.5rem);
  }
  .grid-md-5 {
    flex: 1 1 calc(83.3333% - 1.5rem);
  }
  .grid-md-6 {
    flex: 1 1 calc(99.99996% - 1.5rem);
  }
}
@media (min-width: 1280px) {
  .grid-lg-1 {
    flex: 1 1 calc(16.66666% - 1.5rem);
  }
  .grid-lg-2 {
    flex: 1 1 calc(33.33332% - 1.5rem);
  }
  .grid-lg-3 {
    flex: 1 1 calc(49.99998% - 1.5rem);
  }
  .grid-lg-4 {
    flex: 1 1 calc(66.66664% - 1.5rem);
  }
  .grid-lg-5 {
    flex: 1 1 calc(83.3333% - 1.5rem);
  }
  .grid-lg-6 {
    flex: 1 1 calc(99.99996% - 1.5rem);
  }
}