.mark-new {
  position: absolute;
  font-size: var(--mark-new-font-size, 0.55em);
  padding: 0 0.4em;
  line-height: 1.666em;
  border-radius: 1em;
  background-color: #a2c;
  color: #FFF;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
}

.card-header__icon,
.comment__icon,
.rufi-list-item__graphic {
  position: relative;
}
.card-header__icon .mark-new,
.comment__icon .mark-new,
.rufi-list-item__graphic .mark-new {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}