:root {
  --arg-typo-font-family: Roboto, sans-serif;
  --arg-typo-h1-font-family: Roboto, sans-serif;
  --arg-typo-h1-font-size: 2.125rem;
  --arg-typo-h1-line-height: 1em;
  --arg-typo-h1-font-weight: 300;
  --arg-typo-h1-letter-spacing: -0.015625em;
  --arg-typo-h2-font-family: Roboto, sans-serif;
  --arg-typo-h2-font-size: 2rem;
  --arg-typo-h2-line-height: 1em;
  --arg-typo-h2-font-weight: 300;
  --arg-typo-h2-letter-spacing: -0.0083333333em;
  --arg-typo-h3-font-family: Roboto, sans-serif;
  --arg-typo-h3-font-size: 1.75rem;
  --arg-typo-h3-line-height: 1.125em;
  --arg-typo-h3-font-weight: 400;
  --arg-typo-h3-letter-spacing: normal;
  --arg-typo-h4-font-family: Roboto, sans-serif;
  --arg-typo-h4-font-size: 1.5rem;
  --arg-typo-h4-line-height: 1.25em;
  --arg-typo-h4-font-weight: 400;
  --arg-typo-h4-letter-spacing: 0.0073529412em;
  --arg-typo-h5-font-family: Roboto, sans-serif;
  --arg-typo-h5-font-size: 1.25rem;
  --arg-typo-h5-line-height: 1.25em;
  --arg-typo-h5-font-weight: 400;
  --arg-typo-h5-letter-spacing: normal;
  --arg-typo-h6-font-family: Roboto, sans-serif;
  --arg-typo-h6-font-size: 1.125rem;
  --arg-typo-h6-line-height: 1.25em;
  --arg-typo-h6-font-weight: 500;
  --arg-typo-h6-letter-spacing: 0.0125em;
  --arg-typo-subtitle1-font-family: Roboto, sans-serif;
  --arg-typo-subtitle1-font-size: 1rem;
  --arg-typo-subtitle1-line-height: 1.75em;
  --arg-typo-subtitle1-font-weight: 400;
  --arg-typo-subtitle1-letter-spacing: 0.009375em;
  --arg-typo-subtitle2-font-family: Roboto, sans-serif;
  --arg-typo-subtitle2-font-size: 0.875rem;
  --arg-typo-subtitle2-line-height: 1.25em;
  --arg-typo-subtitle2-font-weight: 500;
  --arg-typo-subtitle2-letter-spacing: 0.0071428571em;
  --arg-typo-body1-font-family: Roboto, sans-serif;
  --arg-typo-body1-font-size: 1rem;
  --arg-typo-body1-line-height: 1.5em;
  --arg-typo-body1-font-weight: 400;
  --arg-typo-body1-letter-spacing: 0.03125em;
  --arg-typo-body2-font-family: Roboto, sans-serif;
  --arg-typo-body2-font-size: 0.875rem;
  --arg-typo-body2-line-height: 1.25em;
  --arg-typo-body2-font-weight: 400;
  --arg-typo-body2-letter-spacing: 0.0178571429em;
  --arg-typo-caption-font-family: Roboto, sans-serif;
  --arg-typo-caption-font-size: 0.75rem;
  --arg-typo-caption-line-height: 1.5em;
  --arg-typo-caption-font-weight: 400;
  --arg-typo-caption-letter-spacing: 0.0333333333em;
  --arg-typo-button-font-family: Roboto, sans-serif;
  --arg-typo-button-font-size: 0.875rem;
  --arg-typo-button-line-height: 2.25em;
  --arg-typo-button-font-weight: 500;
  --arg-typo-button-letter-spacing: 0.0892857143em;
  --arg-typo-overline-font-family: Roboto, sans-serif;
  --arg-typo-overline-font-size: 0.75rem;
  --arg-typo-overline-line-height: 2em;
  --arg-typo-overline-font-weight: 500;
  --arg-typo-overline-letter-spacing: 0.1666666667em;
  --arg-typo-overline-text-transform: uppercase;
}

.arg-typo--overline, .arg-typo--button, .arg-typo--caption, .arg-typo--body2, .arg-typo--body1, .rufi-list-item.two-line .rufi-list-item__secondary-text, .profile.rufi-list-item .user__roles, .profile.teaser .user__roles, .arg-typo--subtitle2, .arg-typo--subtitle1, .profile.teaser .user__name, .arg-typo--h6, .form-wrapper--user-auth > h2, .arg-typo--h5, .arg-typo--h4, .arg-typo--h3, .arg-typo--h2, .arg-typo--h1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.arg-typo--h1 {
  font-family: var(--arg-typo-h1-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h1-font-size, 2.125rem);
  line-height: var(--arg-typo-h1-line-height, 1em);
  font-weight: var(--arg-typo-h1-font-weight, 300);
  letter-spacing: var(--arg-typo-h1-letter-spacing, -0.015625em);
}

.arg-typo--h2 {
  font-family: var(--arg-typo-h2-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h2-font-size, 2rem);
  line-height: var(--arg-typo-h2-line-height, 1em);
  font-weight: var(--arg-typo-h2-font-weight, 300);
  letter-spacing: var(--arg-typo-h2-letter-spacing, -0.0083333333em);
}

.arg-typo--h3 {
  font-family: var(--arg-typo-h3-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h3-font-size, 1.75rem);
  line-height: var(--arg-typo-h3-line-height, 1.125em);
  font-weight: var(--arg-typo-h3-font-weight, 400);
  letter-spacing: var(--arg-typo-h3-letter-spacing, normal);
}

.arg-typo--h4 {
  font-family: var(--arg-typo-h4-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h4-font-size, 1.5rem);
  line-height: var(--arg-typo-h4-line-height, 1.25em);
  font-weight: var(--arg-typo-h4-font-weight, 400);
  letter-spacing: var(--arg-typo-h4-letter-spacing, 0.0073529412em);
}

.form-wrapper--user-auth > h2, .arg-typo--h5 {
  font-family: var(--arg-typo-h5-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h5-font-size, 1.25rem);
  line-height: var(--arg-typo-h5-line-height, 1.25em);
  font-weight: var(--arg-typo-h5-font-weight, 400);
  letter-spacing: var(--arg-typo-h5-letter-spacing, normal);
}

.profile.teaser .user__name, .arg-typo--h6 {
  font-family: var(--arg-typo-h6-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h6-font-size, 1.125rem);
  line-height: var(--arg-typo-h6-line-height, 1.25em);
  font-weight: var(--arg-typo-h6-font-weight, 500);
  letter-spacing: var(--arg-typo-h6-letter-spacing, 0.0125em);
}

.arg-typo--subtitle1 {
  font-family: var(--arg-typo-subtitle1-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-subtitle1-font-size, 1rem);
  line-height: var(--arg-typo-subtitle1-line-height, 1.75em);
  font-weight: var(--arg-typo-subtitle1-font-weight, 400);
  letter-spacing: var(--arg-typo-subtitle1-letter-spacing, 0.009375em);
}

.rufi-list-item.two-line .rufi-list-item__secondary-text, .profile.rufi-list-item .user__roles, .profile.teaser .user__roles, .arg-typo--subtitle2 {
  font-family: var(--arg-typo-subtitle2-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-subtitle2-font-size, 0.875rem);
  line-height: var(--arg-typo-subtitle2-line-height, 1.25em);
  font-weight: var(--arg-typo-subtitle2-font-weight, 500);
  letter-spacing: var(--arg-typo-subtitle2-letter-spacing, 0.0071428571em);
}

.arg-typo--body1 {
  font-family: var(--arg-typo-body1-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-body1-font-size, 1rem);
  line-height: var(--arg-typo-body1-line-height, 1.5em);
  font-weight: var(--arg-typo-body1-font-weight, 400);
  letter-spacing: var(--arg-typo-body1-letter-spacing, 0.03125em);
}

.arg-typo--body2 {
  font-family: var(--arg-typo-body2-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-body2-font-size, 0.875rem);
  line-height: var(--arg-typo-body2-line-height, 1.25em);
  font-weight: var(--arg-typo-body2-font-weight, 400);
  letter-spacing: var(--arg-typo-body2-letter-spacing, 0.0178571429em);
}

.arg-typo--caption {
  font-family: var(--arg-typo-caption-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-caption-font-size, 0.75rem);
  line-height: var(--arg-typo-caption-line-height, 1.5em);
  font-weight: var(--arg-typo-caption-font-weight, 400);
  letter-spacing: var(--arg-typo-caption-letter-spacing, 0.0333333333em);
}

.arg-typo--button {
  font-family: var(--arg-typo-button-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-button-font-size, 0.875rem);
  line-height: var(--arg-typo-button-line-height, 2.25em);
  font-weight: var(--arg-typo-button-font-weight, 500);
  letter-spacing: var(--arg-typo-button-letter-spacing, 0.0892857143em);
}

.arg-typo--overline {
  font-family: var(--arg-typo-overline-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-overline-font-size, 0.75rem);
  line-height: var(--arg-typo-overline-line-height, 2em);
  font-weight: var(--arg-typo-overline-font-weight, 500);
  letter-spacing: var(--arg-typo-overline-letter-spacing, 0.1666666667em);
  text-transform: var(--arg-typo-overline-text-transform, uppercase);
}

.region {
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
}

/**
  Used for extendable details as in arguments.
  Requires js and data-height attr to extend.
 */
.form-wrapper--user-auth {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  border: var(--arg-card-border-size, 1px) solid var(--arg-card-border-color, rgba(212, 212, 218, 0.8));
  border-radius: var(--arg-card-border-radius-size, 2px);
  background-color: var(--arg-card-bg-color, #fff);
  box-shadow: var(--arg-card-box-shadow, 0 4px 10px rgba(0, 0, 0, 0.1));
}
.form-wrapper--user-auth:target {
  outline: 2px dotted transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;
  z-index: 1;
}

.form-wrapper--user-auth {
  background-color: var(--arg-card-content-background-color, transparent);
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1.5rem;
}

.form-wrapper--user-auth > h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: -1.5rem -1.5rem 0.5rem;
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid var(--arg-card-border-color, rgba(212, 212, 218, 0.8));
}

.vjsr--condensed--widgets {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.vjsr--condensed--widgets .rufi-chip {
  margin: 4px;
}

.vjsr--condensed--widget {
  border-radius: 16px;
  background-color: var(--rufi-chip-bg-color, #fff);
  color: var(--rufi-chip-font-color, #a2c);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: inherit;
  height: 32px;
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  border-width: 0;
  outline: none;
  transition: background-color 0.4s;
  cursor: default;
}
.vjsr--condensed--widget:hover {
  background-color: var(--rufi-chip-hover-bg-color, #fff2ff);
  color: var(--rufi-chip-hover-font-color, #a2c);
}

.vjsr--condensed--widget--result {
  white-space: nowrap;
}

.vjsr--condensed--widget .vjsr--icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.vjsr--condensed--widget .rufi-chip__icon--leading.vjsr--icon {
  margin-left: -4px;
  margin-right: 4px;
}

.rufi-list-item .chip--cr-status .rufi-chip__icon {
  margin-left: -6px;
  margin-right: -6px;
}
.rufi-list-item .chip--cr-status .rufi-chip__text {
  display: none;
}

:root {
  --rufi-elev-1: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  --rufi-elev-2: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  --rufi-elev-3: 0 3px 3px -2px #0003, 0 3px 4px #00000024, 0 1px 8px #0000001f;
  --rufi-elev-4: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  --rufi-elev-5: 0 3px 5px -1px #0003, 0 5px 8px #00000024, 0 1px 14px #0000001f;
  --rufi-elev-6: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  --rufi-elev-7: 0 4px 5px -2px #0003, 0 7px 10px 1px #00000024, 0 2px 16px 1px #0000001f;
  --rufi-elev-8: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.toolbar-horizontal .toolbar-tray, .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  box-shadow: var(--rufi-elev-4, 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f);
}

.form-wrapper--user-auth > h2:before {
  font-family: "rufi-icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.rufi-list--title a:after {
  content: "navigate_next";
  font-family: "rufi-icons";
  font-size: 1.2em;
  line-height: 0.6em;
  vertical-align: middle;
  padding-left: 0.1em;
  opacity: 0.3;
  transition: opacity ease 0.3s;
  position: relative;
  bottom: 0.05em;
}
.rufi-list--title a:hover:after {
  opacity: 1;
}

.content-header {
  background-color: var(--rufi-header-bg-color, #eff1fc);
}

body {
  background-color: var(--rufi-body-bg-color, #fdfdfd);
}

.button .rufi-icon {
  position: relative;
  vertical-align: text-bottom;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  margin: calc((16px - 24px) / 2) 0;
}
.button .rufi-icon.icon--lead {
  left: -0.25em;
}
.button .rufi-icon.icon--trail {
  left: 0.25em;
}
.button.button--small .rufi-icon {
  vertical-align: text-bottom;
  width: 21px;
  height: 21px;
  line-height: 21px;
  font-size: 21px;
  margin: calc((16px - 21px) / 2) 0;
}
.button.button--extrasmall .rufi-icon {
  vertical-align: text-bottom;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  margin: calc((16px - 18px) / 2) 0;
}

.rufi-list--title, .field--label-above > .field__label {
  font-family: var(--arg-typo-h6-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h6-font-size, 1.25rem);
  line-height: var(--arg-typo-h6-line-height, 2rem);
  font-weight: var(--arg-typo-h6-font-weight, 500);
  letter-spacing: var(--arg-typo-h6-letter-spacing, 0.0125em);
  border-bottom: 1px solid var(--arg-card-border-color, rgba(212, 212, 218, 0.8));
  margin: 1.5rem 0 0;
}

.field__items {
  margin: 1rem 0;
}

.field__item > p:first-child {
  margin-top: 0.5rem;
}

ul.button--group {
  display: flex;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
ul.button--group > li:not(:last-child) {
  padding-right: 0;
}
ul.button--group > li:not(:last-child) .button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
ul.button--group > li:not(:first-child) .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
ul.button--group .button {
  margin: 0;
}
ul.button--group .button:focus {
  position: relative;
  z-index: 1;
}

.card-footer ul.button--group {
  margin: 0;
}

.select2-container .select2-selection--single {
  height: 48px;
  border-radius: 0.125rem;
  border: 1px solid #8e929c;
}
.select2-container .select2-selection--single:hover {
  border-color: #222330;
  box-shadow: inset 0 0 0 1px #222330;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
}
.select2-container .select2-selection .select2-selection__arrow {
  height: 46px;
}
.select2-container .select2-selection--multiple {
  min-height: 48px;
  border-radius: 0.125rem;
  border: 1px solid #8e929c;
}
.select2-container .select2-selection--multiple:hover {
  border-color: #222330;
  box-shadow: inset 0 0 0 1px #222330;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  line-height: 34px;
}

.select2-dropdown {
  border: 1px solid #8e929c;
  border-radius: 0.125rem;
  box-shadow: var(--arg-card-box-shadow, 0 4px 10px rgba(0, 0, 0, 0.2));
}

.rufi-icon.add-link {
  text-decoration: none;
  font-size: 1.125em;
  vertical-align: text-bottom;
}

a.rufi-icon.add-link {
  text-decoration: none;
}

.toolbar {
  font-family: var(--arg-typo-font-family);
}

.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before,
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help.active:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 530 530.5'%3E%3Cpath fill='%230550e6' d='M327.0 7.5s18.5 32.1 23.9 82.5c5.4 50.3-6.4 80.4-6.4 80.4s27.7-17.0 78.1-20.2c50.3-3.2 84.8 9.7 84.8 9.7s-18.0-52.9-72.5-97.9c-54.5-44.9-107.9-54.5-107.9-54.5z M185.5 360.0s-28.8 17.2-78.9 20.6c-50.0 3.3-85.0-9.6-85.0-9.6s22.0 54.9 72.5 97.4c50.4 42.5 108.9 54.5 108.9 54.5s-19.4-35.6-24.7-81.5c-5.2-45.9 7.2-81.4 7.2-81.4z M518.5 341.3s-81.5-56-142.2 17.2 6.2 144.2 6.2 144.2 43.4-17.4 85.5-67.3c42.0-49.9 50.4-94.1 50.4-94.1z M332.2 521.3s-81.6-94.3 3.3-197.3 194-37 194-37 .5-11.1 0-31-3.1-33.3-3.1-33.3-129.8-74.6-242.1 58.5-17.3 249-17.3 249 5.6 1.3 30.1-1.6 35.1-7.1 35.1-7.1z M197.5 9.0s82.5 96-3 197-194 36.9-194 36.9-1.3 22.6 0 40.3 2.9 25.9 2.9 25.9 132.2 71.5 242.5-60.1 15.6-249.0 15.6-249.0-2.4-.6-28.0 2.4c-25.5 3.0-36.0 6.5-36.0 6.5z M146.0 28.5s69.5 72 8.5 143.5c-60.5 70.9-144 19.5-144 19.5s8.9-45.3 50.8-95.7 84.6-67.2 84.6-67.2z'/%3E%3C/svg%3E");
}

#toolbar-administration {
  font-size: 1rem;
  line-height: 1;
}

.rufi-hide-tab-managed #toolbar-item-administration {
  display: none !important;
}

.toolbar [class*=toolbar-icon-rufi].toolbar-icon::before {
  font-family: "rufi-icons";
  font-size: 1.25em;
  text-align: center;
  box-sizing: border-box;
  padding: 0.65em 0;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon.toolbar-icon-rufi {
  padding-left: 3.5em;
}

.toolbar .toolbar-icon.toolbar-icon-rufi::before {
  content: "rufi";
  padding: 0.6em 0;
  font-size: 1.6em;
  text-indent: 0;
}

.toolbar .toolbar-icon-rufi-dashboard::before {
  content: "dashboard";
}

.toolbar .toolbar-icon-rufi-problem::before {
  content: "problem";
}

.toolbar .toolbar-icon-rufi-rule::before {
  content: "rule";
}

.toolbar .toolbar-icon-rufi-rule-ratified::before {
  content: "ratified";
}

.toolbar .toolbar-icon-rufi-versions::before {
  content: "version";
}

#toolbar-bar {
  background-color: var(--rufi-toolbar-bg-color, #080090);
}
#toolbar-bar .toolbar-item,
#toolbar-bar .toolbar-item a {
  color: var(--rufi-toolbar-fg-color, #fff);
}

.toolbar-icon-9 .toolbar .toolbar-tray-horizontal .menu-item {
  border-left: 0;
  border-right: 0;
  background-color: var(--rufi-toolbar-item-bg-color, #FFF);
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  margin: -3.0625em 0 0 100%;
}

.toolbar-horizontal .toolbar-tray {
  border-bottom: 0;
}

.layout-rufi-form {
  max-width: 72rem;
  margin-right: auto;
}

.layout-region--node-header {
  grid-column: span 2;
}

.rufi-form {
  margin: 1.5rem 0;
}

.card-footer .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
.card-footer .form-actions .button {
  margin-top: 0;
  margin-bottom: 0;
  padding: calc(.75rem - 1px) calc(1.5rem - 1px);
}
.card-footer .form-actions .action-link {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.claro-autocomplete .form-element {
  width: 100%;
  max-width: 40rem;
}

.form-wrapper--user-auth {
  max-width: 500px;
  margin: 10vh auto 0;
}
.form-wrapper--user-auth > h2 {
  line-height: 35px;
}
.form-wrapper--user-auth > h2:before {
  content: "rufi";
  font-size: 35px;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
}
.form-wrapper--user-auth .form-element {
  width: 100%;
}
.form-wrapper--user-auth .form-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile.teaser {
  display: flex;
  flex-direction: row;
  width: 320px;
  max-width: 100%;
  margin: 0.75rem 0;
}
.profile.teaser .field--type-image {
  width: 40px;
  height: 40px;
  margin: 0 1rem 0 0;
  flex: 0 0 40px;
}
.profile.teaser .field--type-image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.profile.teaser .user__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile.teaser .user__name a {
  color: var(--arg-base-text-default-color);
  text-decoration: none;
}
.profile.teaser .user__name a:hover {
  text-decoration: underline;
}
.profile.teaser .user__roles {
  color: var(--arg-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
.profile.full .field--name-field-user-image {
  flex: 0 0 auto;
}
.profile.full .field--name-field-user-image img {
  display: block;
  margin: 0 auto;
}
.profile.rufi-list-item .field--type-image {
  width: 48px;
  height: 48px;
  margin: 0 1rem 0 0;
  flex: 0 0 48px;
}
.profile.rufi-list-item .field--type-image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}
.profile.rufi-list-item .user__roles {
  color: var(--arg-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

:root {
  --vjsr-summary-ntvo-color: var(--rufi-chip-font-color, #a2c);
  --vjsr-summary-color: var(--rufi-chip-font-color, #a2c);
  --vjsr-summary-act-bg-color: var(--rufi-chip-hover-bg-color, #fff2ff);
  --vjsr-summary-bg-color: var(--rufi-chip-bg-color, #fff2ff);
  --vjsr-summary-ntvo-bg-color: var(--rufi-chip-hover-bg-color, #fff2ff);
}

.votejsr.field__items {
  margin: 0;
}

.vjsr--summary {
  padding: 0;
  margin: 0;
  border-radius: 16px;
}

.vjsr--condensed--widgets {
  padding: 0;
  margin: 0;
}
.vjsr--condensed--widgets .vjsr--condensed--widget {
  margin: 0 4px;
}

.vjsr--condensed--widget {
  background-color: transparent;
}
:root {
  --vjsr-modal-color: #232323;
  --vjsr-own-vote-bg-color: var(--rufi-chip-hover-bg-color, #fff2ff);
  --vjsr-stats-bar-height: .875rem;
}

table.vjsr--stats-table th, table.vjsr--stats-table td {
  height: auto;
  padding: 0.25rem 0.5rem;
}

.argumentation-header--sorter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.no-touchevents .argumentation-header--sorter .button--extrasmall {
  margin: 0;
}

.vjsr--plugin-sort {
  align-items: center;
}
.vjsr--plugin-sort--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 1.5rem;
  padding: 0 1.5rem 0 0;
  color: #222330;
  border: 1px solid #8e929c;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 184l144 144 144-144' stroke='%23222330'/%3E%3C/svg%3E") no-repeat right 0.25rem center scroll;
  background-size: 16px 16px;
}

.field--type-comment {
  margin: 1rem 0;
}
.field--type-comment .indented {
  margin: 0;
  padding: 0 0 0 calc(20px + 1rem);
}
@media (min-width: 976px) {
  .field--type-comment .indented {
    padding: 0 0 0 calc(40px + 1rem);
  }
}

.card__content-item__extend .field--type-comment > .field__items {
  max-height: 80vh;
  overflow: auto;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

article.comment {
  margin: 0.5rem -0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}

.comment__icon {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.comment__icon .profile.teaser,
.comment__icon * {
  margin: 0;
}
.comment__text {
  width: calc(100% - 40px - 1rem);
  flex: 1 1 calc(100% - 40px - 1rem);
  border-bottom: 1px solid var(--comment-border-color, rgba(0, 0, 0, 0.0625));
}
.comment__text__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment__text__meta, .comment__text__links {
  font-family: var(--arg-typo-subtitle2-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-subtitle2-font-size, 0.875rem);
  line-height: var(--arg-typo-subtitle2-line-height, 1.375rem);
  font-weight: var(--arg-typo-subtitle2-font-weight, 500);
  letter-spacing: var(--arg-typo-subtitle2-letter-spacing, 0.0071428571em);
  color: var(--arg-comment-text-meta-color, #777);
  margin: 0;
}
.comment__text__meta a, .comment__text__links a {
  color: inherit;
}
.comment__text__links a {
  font-size: 0.875em;
  text-transform: uppercase;
  text-decoration: none;
}
.comment__text__links a:hover {
  text-decoration: underline;
}
.comment__content p {
  margin: 0.25rem 0 0.5rem;
}
.comment__content p:first-child {
  margin-top: 0.25rem;
}
.comment a.permalink {
  color: #000000;
}
.comment.has-parent.by-node-author {
  background-color: #F6FFFF;
  box-shadow: -2px 0 0 #099;
}
.comment.has-parent.by-viewer {
  background-color: #FFF6F6;
  box-shadow: -2px 0 0 #900;
}
.comment__form {
  margin-top: 2rem;
}
.comment__form__header {
  font-family: var(--arg-typo-h6-font-family, var(--arg-typo-font-family, Roboto, sans-serif));
  font-size: var(--arg-typo-h6-font-size, 1.25rem);
  line-height: var(--arg-typo-h6-line-height, 2rem);
  font-weight: var(--arg-typo-h6-font-weight, 500);
  letter-spacing: var(--arg-typo-h6-letter-spacing, 0.0125em);
  border-bottom: 1px solid var(--arg-card-border-color, rgba(212, 212, 218, 0.8));
  margin: 1.5rem 0 0;
}
.comment__form .form-actions {
  margin-top: 0;
}
.comment__form .form-actions .button {
  margin-top: 0;
  margin-bottom: 0;
}
.comment__form .form-type--textarea label,
.comment__form .filter-wrapper {
  display: none;
}

:root {
  --arg-list-avatar-bg: #F2F2F2;
  --rufi-list-item-secondary-text-color: #666 ;
}

.rufi-list {
  margin: 6px 0;
  padding: 0;
  list-style-type: none;
}
.rufi-list--title a, .rufi-list--title a:hover, .rufi-list--title a:focus, .rufi-list--title a:active {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.rufi-list--title:last-child {
  margin-bottom: 1.5rem;
}
.rufi-list--items {
  padding: 6px 0;
}
.rufi-list--items span.empty {
  display: block;
  text-align: center;
  font-size: 0.85em;
  padding: 0.5rem 1.5rem;
}
.rufi-list.card__content-item .rufi-list--items {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.rufi-list.card__content-item .rufi-list-item {
  padding-left: 1.5rem;
}

.rufi-list-item {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 72px;
  padding: 3px 16px;
  margin: 0;
  overflow: hidden;
}
.rufi-list-item__graphic {
  margin-left: 0;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--arg-list-avatar-bg, #F2F2F2);
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}
.rufi-list-item.two-line .rufi-list-item__text {
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rufi-list-item.two-line .rufi-list-item__primary-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-top: 0;
  line-height: normal;
  margin-bottom: -20px;
}
.rufi-list-item.two-line .rufi-list-item__primary-text:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 32px;
  vertical-align: 0;
}
.rufi-list-item.two-line .rufi-list-item__primary-text:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 20px;
  vertical-align: -20px;
}
.rufi-list-item.two-line .rufi-list-item__secondary-text {
  color: var(--rufi-list-item-secondary-text-color, #666);
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-top: 0;
}
.rufi-list-item.two-line .rufi-list-item__secondary-text:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 20px;
  vertical-align: 0;
}
.rufi-list-item__meta {
  margin-left: auto;
  margin-right: 0;
}
.rufi-list-item .rufi-chip-set {
  flex-wrap: nowrap;
}

a.rufi-list-item {
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
a.rufi-list-item:hover {
  background-color: rgba(0, 0, 0, 0.125);
}
a.rufi-list-item:focus {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: none;
}

.rufi-icon__inline {
  font-size: 1.25em;
  line-height: inherit;
  vertical-align: text-bottom;
  text-decoration: none;
}

.rufi-table__table {
  margin-top: 1rem;
}

.field--label-above .rufi-table__table {
  margin-top: 0;
}

.patch__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.patch__body fieldset.cr_field_view {
  padding-top: 0;
  flex: 1 1 100%;
  width: 100%;
}