:root {
  --vjsr-summary-ntvo-color: var(--rufi-chip-font-color, #{$rufi-chip-font-color});
  --vjsr-summary-color: var(--rufi-chip-font-color, #{$rufi-chip-font-color});
  --vjsr-summary-act-bg-color: var(--rufi-chip-hover-bg-color, #{$rufi-chip-hover-bg-color});
  --vjsr-summary-bg-color: var(--rufi-chip-bg-color, #{$rufi-chip-hover-bg-color});
  --vjsr-summary-ntvo-bg-color: var(--rufi-chip-hover-bg-color, #{$rufi-chip-hover-bg-color});
}

.votejsr.field__items {
  margin: 0;
}

.vjsr--summary {
  padding: 0;
  margin: 0;
  border-radius: 16px;
}

.vjsr--condensed--widgets {
  @extend %rufi-chip-set;
  padding: 0;
  margin: 0;

  .vjsr--condensed--widget {
    margin: 0 4px;
  }
}

.vjsr--condensed--widget {
  @extend %rufi-chip;
  background-color: transparent;

  &--result {
    @extend %rufi-chip__text;
  }

  .vjsr--icon {
    @extend %rufi-chip__icon;
  }
}
