{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<a href="{{ path('entity.user.canonical', {'user': user.id}) }}"{{ attributes.addClass('profile', 'rufi-list-item') }}>
  {% if content.field_user_image|render|trim %}
    {{ content.field_user_image }}
  {% else %}
    <span class="card-header__icon" aria-hidden="true"><i class="rufi-icon">user</i></span>
  {% endif %}
  <div class="user__text">
    <div class="user__name">{{ content.name }}</div>
    <div class="user__roles">{{ content.roles }}</div>
  </div>
</a>
