{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{% if content.field_user_image|render|trim %}
  <article{{ attributes.addClass('profile', 'teaser').setAttribute('title', content.name|render|trim ) }}>
    {{ content.field_user_image }}
  </article>
{% else %}
  <i class="rufi-icon rufi-list-item__graphic" aria-hidden="true">user</i>
{% endif %}
