@import "../mixins/card";

%rufi-card {
  @include rufi-card;
}

%rufi-card__image {
  @include rufi-card__image;
}

%rufi-card__content-wrapper {
  @include rufi-card__content-wrapper;
}

%rufi-card-spacer {
  @include rufi-card-spacer;
}

%rufi-card-header {
  @include rufi-card-header;
}

%rufi-card-header__icon {
  @include rufi-card-header__icon;
  border-radius: 50%;
}

%rufi-card-header__user-img {
  @include rufi-card-header__icon;
  border-radius: 3px;
  img {
    display: block;
  }
}

%rufi-card-header__text {
  @include rufi-card-header__text;
}

%rufi-card-header__text__top {
  @include rufi-card-header__text__top;
}

%rufi-card-header__text__bot {
  @include rufi-card-header__text__bot;
}

%rufi-card__content-item {
  @include rufi-card__content-item;
}

%card__content-item__extend {
  @include card__content-item__extend;
}

%card__content-item__extend__toggle {
  @include card__content-item__extend__toggle;
}

%rufi-card__content-item__row {
  @include rufi-card__content-item__row;
}

%rufi-card__metadata {
  @include rufi-card__metadata;
}

%rufi-card-footer {
  @include rufi-card-footer;
}

%rufi-card-footer__action-buttons {
  @include rufi-card-footer__action-buttons;
}

%rufi-card-footer__action-icons {
  @include rufi-card-footer__action-icons;
}
