
.layout-rufi-form {
  max-width: 72rem;
  margin-right: auto;
}

.layout-region--node-header {
  grid-column: span 2;
}

.rufi-form {
  margin: 1.5rem 0;
}

.card-footer {
  .form-actions {
    margin-top: 0;
    margin-bottom: 0;

    .button {
      margin-top: 0;
      margin-bottom: 0;
      padding: calc(.75rem - 1px) calc(1.5rem - 1px);
    }

    .action-link {
      margin-top: 0;
      margin-bottom: 0;
      padding: .5rem 1rem;
    }
  }
}

.claro-autocomplete {
  .form-element {
    width: 100%;
    max-width: 40rem;
  }
}
