.form-wrapper--user-auth {
  @extend %rufi-card;
  @extend %rufi-card__content-wrapper;
  max-width: 500px;
  margin: 10vh auto 0;

  > h2 {
    @extend %rufi-card-header;
    @extend %arg-typo--h5;
    line-height: 35px;

    &:before {
      @extend %rufi-icon;
      content: 'rufi';
      font-size: 35px;
      vertical-align: text-bottom;
      margin-right: .5rem;
    }
  }

  .form-element {
    width: 100%
  }

  .form-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

