.toolbar {
  font-family: var(--arg-typo-font-family);
}

.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before,
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help.active:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 530 530.5'%3E%3Cpath fill='%230550e6' d='M327.0 7.5s18.5 32.1 23.9 82.5c5.4 50.3-6.4 80.4-6.4 80.4s27.7-17.0 78.1-20.2c50.3-3.2 84.8 9.7 84.8 9.7s-18.0-52.9-72.5-97.9c-54.5-44.9-107.9-54.5-107.9-54.5z M185.5 360.0s-28.8 17.2-78.9 20.6c-50.0 3.3-85.0-9.6-85.0-9.6s22.0 54.9 72.5 97.4c50.4 42.5 108.9 54.5 108.9 54.5s-19.4-35.6-24.7-81.5c-5.2-45.9 7.2-81.4 7.2-81.4z M518.5 341.3s-81.5-56-142.2 17.2 6.2 144.2 6.2 144.2 43.4-17.4 85.5-67.3c42.0-49.9 50.4-94.1 50.4-94.1z M332.2 521.3s-81.6-94.3 3.3-197.3 194-37 194-37 .5-11.1 0-31-3.1-33.3-3.1-33.3-129.8-74.6-242.1 58.5-17.3 249-17.3 249 5.6 1.3 30.1-1.6 35.1-7.1 35.1-7.1z M197.5 9.0s82.5 96-3 197-194 36.9-194 36.9-1.3 22.6 0 40.3 2.9 25.9 2.9 25.9 132.2 71.5 242.5-60.1 15.6-249.0 15.6-249.0-2.4-.6-28.0 2.4c-25.5 3.0-36.0 6.5-36.0 6.5z M146.0 28.5s69.5 72 8.5 143.5c-60.5 70.9-144 19.5-144 19.5s8.9-45.3 50.8-95.7 84.6-67.2 84.6-67.2z'/%3E%3C/svg%3E");
}

#toolbar-administration {
  font-size: 1rem;
  line-height: 1;
}

.rufi-hide-tab-managed {
  #toolbar-item-administration {
    display: none !important;
  }
}

.toolbar [class*="toolbar-icon-rufi"].toolbar-icon::before {
  font-family: 'rufi-icons';
  font-size: 1.25em;
  text-align: center;
  box-sizing: border-box;
  padding: .65em 0;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon.toolbar-icon-rufi {
  padding-left: 3.5em;
}
.toolbar .toolbar-icon.toolbar-icon-rufi {
  &::before {
    content: 'rufi';
    padding: 0.6em 0;
    font-size: 1.6em;
    text-indent: 0;
  }
}

.toolbar .toolbar-icon-rufi-dashboard::before {
  content: 'dashboard';
}
.toolbar .toolbar-icon-rufi-problem::before {
  content: 'problem';
}
.toolbar .toolbar-icon-rufi-rule::before {
  content: 'rule';
}
.toolbar .toolbar-icon-rufi-rule-ratified::before {
  content: 'ratified';
}
.toolbar .toolbar-icon-rufi-versions::before {
  content: 'version';
}



#toolbar-bar {
  background-color: var(--rufi-toolbar-bg-color, $primaryDark);
  .toolbar-item,
  .toolbar-item a {
    color:  var(--rufi-toolbar-fg-color, #fff);
  }
}

.toolbar-icon-9 .toolbar .toolbar-tray-horizontal .menu-item {
  border-left: 0;
  border-right: 0;
  background-color: var(--rufi-toolbar-item-bg-color, #FFF);
}

.toolbar-tray-horizontal ul li.menu-item--expanded {
  &.hover-intent ul {
    @extend %elevation4;
  }
  .menu-item.hover-intent ul {
    margin: -3.0625em 0 0 100%;
  }
}

.toolbar-horizontal .toolbar-tray {
  @extend %elevation4;
  border-bottom: 0;
}
