
{{ attach_library('rufi_base/drop_menu') }}
{% if links -%}
  <nav{{ attributes.addClass('drop-menu') }}>
    <button class="drop-menu__toggle" aria-haspopup="true" aria-controls="{{ id }}" tabindex="0"><span class="rufi-icon">menu</span></button>
    <ul role="menu" id="{{ id }}" class="drop-menu__list">
      {%- for item in links -%}
        <li>
          {{ item }}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif %}
