{{ attach_library('rufi_base/chip') }}
<span{{ attributes.addClass('rufi-chip') }}>
  {% if icon_before %}
    <span class="rufi-icon rufi-chip__icon rufi-chip__icon--leading">{{ icon_before }}</span>
  {% endif %}
  <span class="rufi-chip__text">{{ text }}</span>
  {% if icon_after %}
    <span class="rufi-icon rufi-chip__icon rufi-chip__icon--trailing">{{ icon_after }}</span>
  {% endif %}
</span>
